<ng-template [ngIf]="confirmed">
  <mat-card>
    <img [src]="checkMarkImage" alt=""><br>
    <mat-card-content>
      <label>Dear new {{firstName + " " + lastName}}. Thank you for your registration</label><br>
      <a color="primary" mat-raised-button routerLink="/account/signIn">Continue</a>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template [ngIf]="!confirming">
  <mat-card>
    <mat-card-title class="confirm">
      Confirm your email address
    </mat-card-title>
    <mat-card-content>
      <p>
        We have sent an email with a confirmation link to your email address in order to complete the
        sign-up process, please click the confirmation link
      </p>
      <p>
        If you do not receive a confirmation email, please check your spam folder. Also, please verify
        that you entered a valid email address in our sign-up form
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
