Catalog
<div class="right-up-filter">
  <label>
    <mat-form-field appearance="outline">
      <input matInput>
    </mat-form-field>
  </label>
  <br>
  Currency
  <mat-form-field appearance="outline">
    <label>
      <mat-select>

      </mat-select>
    </label>
  </mat-form-field>
  Sort by
  <mat-form-field appearance="outline">
    <label>
      <mat-select>

      </mat-select>
    </label>
  </mat-form-field>
</div>
<table>
  <tr>
    <td class="first">
      Categories
      <br>
      <mat-checkbox>
        Books
      </mat-checkbox>
      <br>
      <mat-checkbox>
        Magazines
      </mat-checkbox>
      <br>
      <mat-checkbox>
        Newspapers
      </mat-checkbox>
      <mat-divider></mat-divider>
      Price
      <br>
      <mat-form-field class="price" appearance="outline">
        <label>
          <input matInput>
        </label>
      </mat-form-field>
      -
      <mat-form-field class="price" appearance="outline">
        <label>
          <input matInput>
        </label>
      </mat-form-field>
      $
      <button color="primary" mat-raised-button>OK</button>
    </td>
    <td class="border-left">
      <div class="list">
        <div *ngFor="let item of ['red','orange','purple','green','yellow','brown']" class="item" [style.background-color]="item" style="filter: invert(1)">{{item}}</div>
      </div>
    </td>
  </tr>
</table>
