Catalog
<div class="right-up-filter">
  <mat-form-field appearance="outline" class="search no-padding">
    <label class="search">
      <mat-icon>search</mat-icon>
      <input class="search" matInput placeholder="Search by book title, by author">
    </label>
  </mat-form-field>
  <br>
  <div class="lower">
    Currency
    <mat-form-field appearance="outline" class="no-padding currency">
      <label>
        <mat-select [(ngModel)]="filter.currency" (selectionChange)="change()">
          <mat-option *ngFor="let currency of currencyOptions" [value]="currencies[currency]">{{currency}}</mat-option>
        </mat-select>
      </label>
    </mat-form-field>
    Sort by
    <mat-form-field appearance="outline" class="no-padding">
      <label>
        <mat-select [(ngModel)]="sort" (selectionChange)="sortChange()">
          <mat-option [value]="sortOrder.asc">Price Low to High</mat-option>
          <mat-option [value]="sortOrder.desc">Price High to Low</mat-option>
        </mat-select>
      </label>
    </mat-form-field>
  </div>
</div>
<table>
  <tr>
    <td class="first">
      Categories
      <br>
      <mat-checkbox [(ngModel)]="books" (change)="change()">
        Books
      </mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="magazines" (change)="change()">
        Magazines
      </mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="newspapers" (change)="change()">
        Newspapers
      </mat-checkbox>
      <mat-divider></mat-divider>
      Price
      <br>
      <mat-form-field appearance="outline" class="price">
        <label>
          <input [(ngModel)]="minPrice" matInput type="number">
        </label>
      </mat-form-field>
      -
      <mat-form-field appearance="outline" class="price">
        <label>
          <input [(ngModel)]="maxPrice" matInput type="number">
        </label>
      </mat-form-field>
      {{currencyMarks[filter.currency]}}
      <button color="primary" mat-raised-button>OK</button>
      <ng5-slider [(highValue)]="maxPrice" [(value)]="minPrice" [options]="sliderOptions">

      </ng5-slider>
    </td>
    <td class="border-left">
      <div class="list">
        <div *ngFor="let item of dataSource" class="item">
          <mat-icon class="item" color="accent">book</mat-icon>
          <br>
          <strong>{{item.title}}</strong>
          <br>
          {{item.authors.join(', ')}}
          <br>
          {{currencyMarks[filter.currency]}}{{item.price}}
        </div>
      </div>
    </td>
  </tr>
</table>
<div>
  <button mat-flat-button routerLink="/administrator/printingEditions">
    <mat-icon>settings</mat-icon>
    Service
  </button>
  <mat-paginator [length]="length" [pageSize]="6" class="d-inline-block float-right"></mat-paginator>
</div>
