::ng-deep .mat-figure{
  display: block !important;
  overflow: auto;
}

div.item {
  height: 300px;
  /*padding: 140px 0;
  text-align: center;*/
}

div.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

table {
  width: 100%;
}

div.right-up-filter {
  float: right;
  width: 60%;
}

td.first {
  vertical-align: top;
  width: 250px;
}

mat-form-field.price {
  width: 35%;
}

.mat-raised-button {
  min-width: 0;
  padding: 1px;
  width: 14%;
}

.ng5-slider {
  margin: 0
}

label {
  width: 100%;
}

/deep/ .no-padding *{
  padding: 0;
}

.currency {
  width: 80px;
}

label.search {
  width: 100%;
}

mat-form-field.search {
  width: 100%;
  float: right;
}

div.lower {
  float: right;
}

input.search {
  position: absolute;
  width: calc(100% - 24px);
  margin-top: 4px;
}

mat-icon.item {
  font-size: 170px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 84px;
  top: 95px;
}
