<body class="wallpaper">
<mat-toolbar class="background">
  <mat-toolbar-row>
    <div class="logo" [class.centered-logo]="isOnAuthPage">
      <mat-icon color="primary" class="book">
        menu_book
      </mat-icon>
      <div routerLink="printingEdition/catalog" style="cursor: pointer; outline: none">Book Publishing Company</div>
    </div>
    <a routerLink="/account/signIn" class="log-in" *ngIf="!(isLoggedIn$ | async) && !isOnAuthPage">Log in</a>
    <div class="right-button" *ngIf="isLoggedIn$ | async">
      <button mat-icon-button [matMenuTriggerFor]="accountActions">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
      <mat-menu #accountActions="matMenu">
        <div *ngIf="!isAdmin">
          <button routerLink="order/list" mat-menu-item>
            My Orders
          </button>
        </div>
        <div *ngIf="isAdmin">
          <button routerLink="administrator/orders" mat-menu-item>
            Order management
          </button>
          <button routerLink="administrator/clients" mat-menu-item>
            Users management
          </button>
          <button routerLink="administrator/printingEditions" mat-menu-item>
            Product management
          </button>
          <button routerLink="administrator/authors" mat-menu-item>
            Authors Page
          </button>
        </div>
        <button (click)="profile()" mat-menu-item>
          My Profile
        </button>
        <button mat-menu-item (click)="signOut()">
          Log out
        </button>
      </mat-menu>
      <button mat-icon-button (click)="showCart()">
        <mat-icon>
          shopping_cart
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
</body>
