img {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
}

label.full-width {
  width: 100%;
}

button.continue {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90px;
}
