<mat-card>
  <img [src]="userImage" alt="">
  <mat-card-title>
    Password assistance
  </mat-card-title>

  <mat-card-content>
    <ng-template #resetForm>
      <p>
        Enter the email addresser associated with your account.
      </p>
      <form (ngSubmit)="forgotPassword()" [formGroup]="form">
        Email
        <mat-form-field appearance="outline">
          <label class="full-width">
            <input matInput formControlName="email" type="email">
          </label>
          <mat-error *ngIf="emailControl.hasError('required')">
            Email is <strong>required</strong>!
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('email')">
            Please enter a valid email!
          </mat-error>
        </mat-form-field>
        <br>
        <button class="continue" color="primary" mat-raised-button type="submit">
          Continue
        </button>
      </form>
    </ng-template>
    <ng-template [ngIf]="passwordSent" [ngIfElse]="resetForm">
      <p>
        You will receive an e-mail with a new password to login onto your e-mail box
        stated in your Personal Profile.
      </p>
      <p>
        Please contact our administrator if you don't receive an email message with
        a new password.
      </p>
      <a class="continue" color="primary" mat-raised-button routerLink="/account/signIn">
        Continue
      </a>
    </ng-template>
  </mat-card-content>

</mat-card>
