<mat-card>
  <p>
    <img [src]="userImage" alt="">
  </p>
  <mat-card-title>Sign-In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="signIn()">
      <p>
        <mat-form-field>
          <label class="full-width">
            <input formControlName="email" matInput placeholder="Email" type="email" [errorStateMatcher]="matcher">
          </label>
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
              Please enter a valid email!
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('required')">
              Email is <strong>required</strong>!
            </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <label class="full-width">
            <input formControlName="password" matInput placeholder="Password" type="password" [errorStateMatcher]="matcher">
          </label>
            <mat-error *ngIf="passwordControl.hasError('required')">
              Password is <strong>required</strong>!
            </mat-error>
          <mat-hint><a href="/account/passwordRecovery">Forgot your password?</a></mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
        <button type="submit" class="sign-in" color="primary" mat-raised-button>Sign-In</button>
      </p>

      <p class="sign-up">
        <label>New to Book Publishing Company?</label><br>
        <a class="sign-up" color="accent" routerLink="/account/signUp" mat-raised-button>Sign Up</a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
