mat-icon.user-icon {
  font-size: 75px;
}

button.edit {
  float: right;
}

button.cancel {
  margin-left: 20px;
}

mat-form-field {
  width: 100%;
}

.form-center {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

label {
  width: 100%;
}
