<div class="text-center">Checkout</div>
<table>
  <tr>
    <th>
      Product
    </th>
    <th>
      Unit price
    </th>
    <th>
      Qty
    </th>
    <th>
      Order amount
    </th>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      {{item.title}}
    </td>
    <td>
      ${{item.amount}}
    </td>
    <td>
      <mat-form-field appearance="outline">
        <label>
          <input matInput type="number" min="1" [value]="item.count" (change)="edit(item)" [(ngModel)]="item.count">
        </label>
      </mat-form-field>
    </td>
    <td class="d-flex">
      <div class="vertical-center">USD ${{round(item.amount * item.count)}}</div>
      <button class="float-right" (click)="delete(item.printingEditionId)" mat-icon-button>
        <mat-icon>
          remove
        </mat-icon>
      </button>
    </td>
  </tr>
</table>
<span class="float-right">TOTAL PRICE USD ${{getTotalPrice()}}</span><br>
<button (click)="dialogRef.close()" class="low" color="warn" mat-raised-button>Cancel</button>
<button (click)="buy()" class="low" color="primary" mat-raised-button>Buy Now</button>
